@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>

@{ViewData["Title"] = "SearchPartial";}

<form class="form-inline" method="post" action="/Products/Search">
    <select for="category.Id" class="form-control" name="category">
        @foreach(var category in ViewBag.Categories)
        {
            <option href="Search?@category.Id" value="@category.Id">@category.Name</option>
        }
    </select>

    <button type="submit" class="btn btn-primary mb-2">
        Search
    </button>
</form>